{% set language = {
  "index": {
    "pageName":"My Publications",
    "orcidText":"My ORCID ID ",
    "noOrcidText":"NOT SPECIFIED",
    "notificationsText":"My NURO actions",
    "publicationsText":"10 most recent publications",
    "infoHoverText":"The 10 most recent publications as listed in NURO",
    "loginText":"NURO"
  },
  "publications": {
    "pageName":"Recent publications",
    "buttonText": "Claim missing publications"
  },
  "notifications": {
    "pageName": "My NURO actions"
  }
} %}
