{% if aek.action == "get-orcid" %}
  {% set service = aek.get_service("MULE_CONNECT") %}
  {{ service.set_parameter("callType", "ORCID") }}
  {{ service.set_parameter("callTarget", "staff") }}
  {% set response = service.response %}
  {% set json = response.json %}
  {% if not json %}
    {% set error = response.desc|default("Unknown Error") ~ "" %}
    {{ aek.respond({"error":error},500) }}
  {% endif %}
  {{ aek.respond(json ~ "") }}
{% endif %}

{% if aek.action == "get-publications" %}
  {% set service = aek.get_service("MULE_CONNECT") %}
  {{ service.set_parameter("callType", "PUBLICATIONS") }}
  {{ service.set_parameter("callTarget", "staff") }}
  {% set response = service.response %}
  {% set json = response.json %}
  {% if not json %}
    {% set error = response.desc|default("Unknown Error") ~ "" %}
    {{ aek.respond({"error":error},500) }}
  {% endif %}
  {{ aek.respond(json ~ "") }}
{% endif %}

{% if aek.action == "get-notifications" %}
  {% set service = aek.get_service("MULE_CONNECT") %}
  {{ service.set_parameter("callType", "NOTIFICATIONS") }}
  {{ service.set_parameter("callTarget", "staff") }}
  {% set response = service.response %}
  {% set json = response.json %}
  {% if not json %}
    {% set error = response.desc|default("Unknown Error") ~ "" %}
    {{ aek.respond({"error":error},500) }}
  {% endif %}
  {{ aek.respond(json ~ "") }}
{% endif %}
