{% set _config={
  "PUBLIC": {
    "storageKey": "uon-publications",
    "language": language,
    "theme": theme,
    "currency_prefix": currency_prefix,
    "loginURL": "https://nuro.newcastle.edu.au/default.html",
    "publicationsURL": "https://nuro.newcastle.edu.au/objects.html"
  },
  "PRIVATE": {
    "exampleApiKey": "aaaa-bbbb-cccc-dddd"
  }
} %}
