@import "imports/aek-css-config";


uonColor = #f75f78
// additional styles below
.ui.block.header, .ui.banner.header {
  padding:0!important;
  text-align:center;
  font-size:1.5rem;
}
h1.ui.banner.header > span {
  text-align: left;
}
// disable all fields*
// div#details form input[type="text"],input[type="date"],select,
// div#addresses form input[type="text"],input[type="date"],select,
// div#phone form input[type="text"],input[type="date"],select,
// div#stats form input[type="text"],input[type="date"],select,
// div#emergency form input[type="text"],input[type="date"],select {
//   pointer-events:none;
//   color: #BBB;
// }

button#details,
button#addresses,
button#phone,
button#stats,
button#disability,
button#emergency {
  pointer-events:none;
  opacity: 0.5;
}
// index
.ui.basic.segment {
  //padding:0px;
  margin:0;
}
.ui.listview.menu.mydetails, .ui.listview.menu.candidatureList{
  border-radius: 0px;
}
.ui.listview.menu.candidatureList{
  box-shadow: 0 0 0 0 !important;
  margin-top: 0px !important;
  .item{
    .label.basic{
      font-weight: bold !important;
    }
  }
}
.ui.listview.menu.mydetails .item:first-child {
  background:#333;
  color:#FFF;
  cursor: pointer;
}
.ui.listview.menu.mydetails .item:first-child > a,
.ui.listview.menu.mydetails .item:first-child > a:link,
.ui.listview.menu.mydetails .item:first-child > a:hover,
.ui.listview.menu.mydetails .item:first-child > a:visited {
  //padding:0!important;
  color:#FFF;
  cursor: pointer;
  border-radius: 0px;
}
.ui.listview.menu .item{
  border-radius: 0px;
}
.ui.primary.circular.label {
  background:#888!important;
}
.ui.circular.labels .label, .ui.circular.label {
  min-height:0!important;
  font-size:inherit;
}
.ui.listview.menu .item > a > .label, .ui.listview.menu .item > .label {
  float:none!important;
  font-size:1.1em!important;
  font-weight: 500;
  color:#333!important;
}
.ui.listview.menu >.item > a >.label.basic, .ui.listview.menu >.item > .label.basic {
  border:0!important;
  padding:0!important;
  margin:0!important;
}

.ui.listview.menu a.item, .ui.listview.menu .item > a {
  line-height:1.2em!important;
}
// form
//.ui.form input[type="text"] { color:#bbb; }
.ui.form select, div.detail {
  color:#bbb;
}
.ui.fluid.buttons, .ui.button.fluid, .ui.fluid.buttons > .button {
  width:80%!important;
  margin-left:10%;
  margin-right:10%;
}
.blue {
  background: #0099CC;
  color: #fff;
  padding: 0.6em;
  margin: -0.7em -0.7em 0em -0.7em;
  margin-bottom: 1em;
  font-weight: 100;
  font-size: 1rem!important;
}
// Add spacing below last field in first part form for second blue label
#addresses .ui.form .field:nth-child(8),
#email .ui.form .field:nth-child(3),
#phone .ui.form .field:nth-child(4),
#emergency .ui.form .field:nth-child(5)
{
    margin-bottom: 2em;
}
h2.ui.banner.prime.header.pink {
  background:#CE003D;
  text-align:left;
  padding:0.5em!important;
  font-size:1rem;
}
// save button
.ui.banner.header button, .ui.loading.loading.loading.loading.loading.loading.button {
  position:absolute;
  background:#14A172!important;
  top:0.8rem;
  right:0.5rem;
  padding:9px;
}
.ui.banner.header button {
  color:#FFF!important;
}
.ui.loading.loading.loading.loading.loading.loading.button {
  color:#14A172!important;
}
a.back, .angle.left.icon {
  position: absolute;
  left: 0;
  color: #FF602A;
}

.refreshButton{
  &.ui.fluid[class*="right labeled"].icon.button{
    padding-left: 0 !important;
    width: 92% !important;
    margin-left: 4%;
    margin-right: 4%;
  }
}

.uon-button{
  background-color: #f75f78 !important;
  color: #FFF !important;
  &.ui.fluid[class*="right labeled"].icon.button{
    padding-left: 0 !important;
  }
  .icon{
    font-size: 1.2em !important;
    background-color: #f75f78 !important;
    color: #2d3238 !important;
  }
}

.uon-header{
  padding-bottom: 0px !important;
  .button{
    border-radius: 0.2857rem 0.2857rem 0 0;
    cursor: default;
  }
  &.redColor{
    border-bottom: 1px solid #B33A3A !important;
    background-color: transparent !important;
    .button{
      background-color: #B33A3A;
      color: #fff;
    }
  }
  &.blueColor{
    border-bottom: 1px solid #f75f78 !important;
    background-color: transparent !important;
    .button{
      background-color: #f75f78;
      color: #fff;
    }
  }
  &.primeColor{
    border-bottom: 1px solid #2d3238 !important;
    background-color: transparent !important;
    .button{
      background-color: #2d3238;
      color: #fff;
    }
  }
}

.uon-table{
  border: 0px !important;
  margin-bottom: 1.5em !important;
  border-collapse:separate !important;
  tbody{
    tr{
      border-bottom:0px !important;
      td{
        border: 0px !important;
        padding:0.3em !important;
      }
    }
    tr:last-of-type{
      td{
        padding: 0.9em 0.3em 0 0.3em !important;
        background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%) !important;
        background-position: top !important;
        background-size: 3px 1px !important;
        background-repeat: repeat-x !important;
      }
    }
  }
}

.uon-table2{
  border: 0px !important;
  margin-bottom: 1.5em !important;
  border-collapse:separate !important;
  tbody{
    tr{
      border-bottom:0px !important;
      td{
        border: 0px !important;
        padding:0.3em !important;
      }
    }
  }
}

.uon-table4{
  border: 0px !important;
  margin-bottom: 0em !important;
  border-collapse:separate !important;
  tbody{
    tr{
      border-bottom:0px !important;
      td:first-child{
        padding-bottom: 0 !important;
      }
      td{
        border: 0px !important;
        padding: 0.3em 0em !important;
      }
    }
  }
}


.uon-table3{
  border: 0px !important;
  margin-top: 0em !important;
  margin-bottom: 1.5em !important;
  border-collapse:separate !important;
  tbody{
    tr{
      border-bottom:0px !important;
      td:first-child{
        font-size: 2em;
        i {
          color: #B33A3A;
        }
      }
      td{
        font-weight:bold;
        border: 0px !important;
        padding:0em !important;
      }
    }
  }
}


.ui.form .field.disabled, .ui.form .field.disabled label{
  opacity: 1;
}


.ui.checkbox{
  line-height: 18px;
}

.personImage{
  margin: 0 auto;
  width: 45%;
  display: block;
  height: auto;
  border: 1px solid #2d3238;
}
.personName{
  color: #f75f78;
  font-weight:bold;
  font-size: 18px;
  text-align: center;
  margin: 0.5em 0 0;
}
.origin{
  text-align: center;
  margin: 0px;
  font-size: 16px;
}
.empID{
  text-align:center;
  margin: 0.75em 0 0 0;
  font-size:20px;
  font-weight: 300;
}

.progressBar{
  background-color: #969696;
  margin-top: 0.3em !important;
  .progressBarInner{
    background-color: #f75f78;
    color: #2d3238;
    padding: 0.01em 16px;
    text-align: center;
    &.zero{
      background-color: transparent;
      padding: 0.01em 8px;
    }
    &.lessThan{
      padding: 0.01em 4px;
    }
  }
}

.supervisors{
  .noShadow{
    box-shadow: 0 0 0 0 !important;
  }

  .ui.listview.menu > .item>a >.thumbnail >div, .ui.listview.menu > .item >.thumbnail >div {
    display: block;
    width: 80% !important;
    overflow: hidden;
    padding-left: 0px;
  }

  .resultsList li.active{
    a{
      .name{
        color: #2d3238;
      }
      .position{
        color: #1090d5;
      }
      .unit{
        color: #1090d5;
      }
    }
  }

  .ui.listview.menu > .item >.thumbnail, .ui.listview.menu > .item>a >.thumbnail, .ui.listview.menu > .item >.thumbnail, .ui.listview.menu > .item >.thumbnail{
    width: 100%;
  }

  .ui.listview.menu > .item >.thumbnail, .ui.listview.menu > .item>a >.thumbnail{
    display: block;
  }

  .ui.header .map.icon{
    color: uonColor;
    display: table-cell;
    opacity: 1;
    font-size: 1.5em;
    padding-top: 0em;
    vertical-align: middle;
    float: right;
    margin-right: 0;
    text-align: right;
  }

  .detailList{
    .icon{
      color: uonColor;
    }
  }

  .detailList{
    .item.disabled{
      color: rgba(0,0,0,0.8) !important;
      .icon{
        color: primeColor;
      }
    }
  }

  .addressText{
    p{
      margin:0px;
    }
  }

  .item{
    .icon {
      float: right;
      text-align: right;
    }

    a{
      padding: 0.78571em 0.95em 0.78571em 0.95em !important;
    }
    span {
      width: 100%;
      display: block;
      padding-right: 12px;
    }
    p{
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis;
      width: 100%;
    }
    span{
      margin-right: 20px;
    }
  }

  .ui.detailList.menu a.item:after, .ui.detailList.menu .item > a:after{
    display: none;
  }
}

.uon-staff-page{
  background-color:#dbedf9;
}

.uon-staff-header{
  height: 25%;
  width: 100%;
  background-color: #2d3238 !important;
  color:#fff;
  text-align:center;
  border-radius: 0px !important;

  .uon-staff-header-title{
    font-weight:bold;
    font-size: 26px;
  }

  .uon-staff-header-spacer{
    height: 15px;
    width: 104px;
    background-color: #f75f78;
  }
}

.uon-staff-header2{
  height: 13%;
  width: 100%;
  background-color: #2d3238 !important;
  color:#fff;
  text-align:center;
  border-radius: 0px !important;
  border-bottom: 15px solid #f75f78 !important;

  .uon-staff-header-title{
    font-weight:bold;
    font-size: 26px;
  }

  .uon-staff-header-spacer{
    height: 15px;
    width: 204px;
    background-color: #f75f78;
  }
}

.uon-staff-content{
  background: transparent !important;
  &:before{
    background: transparent !important;
  }
  .studentName{
    text-transform: capitalize;
  }

  .menu-link {
    box-sizing: content-box;
    line-height: 36px;
    background: #fff;
    border: 1px solid #d9dbe0;
    border-radius: .2857rem;
    height  50px;
    padding: 0 16px;
    cursor: pointer;

    .menu-button {
      margin: 0;
      padding:0;
      /* margin: 0 auto; */
      width: 100%;
      color: rgba(0,0,0,0.8) !important;
    }

    .list-item-image{
      height: 25px;
      width: 25px;
    }
  }
}

.linkOnly{
  .detail{
    display:none !important;
  }
}

.ui.listview.menu > .item>a {
  min-height:50px;
}

.head-wrapper{
  background: #5B6270;
  height: 15%;
  .head-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    background: #2d3138;
    .menu-head {
      height: 100%;
      width: 100%;
      color: #fff;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      text-align: right;
      display: flex;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      /* -webkit-box-align: center; */
      /* -webkit-align-items: center; */
      -ms-flex-align: center;
      align-items: flex-end;

      // }
      .menu-title-wrapper{
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        .menu-flex{
          flex: 1 1 100%;
          display: flex;
          flex-direction: row-reverse;
          align-items: center;

          .menu-title-flex{
            display: flex;
            flex-direction: column;
            position: absolute;
            text-align: center;
            left: 50%;
            /* height: 100%; */
            /* top: 7%; */
            /* left: 50%; */
            top: 0%;
            align-items: center;
            justify-content: center;
            height: 15%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);

            .menu-title {
              margin: 0;
              padding: 0;
            }
            .menu-subtitle {
              font-size: 12px;
              text-align: center;
              margin: 0;
              // margin-right: 115px;
              margin: 0 auto;
            }
          }
          .menu-line {
            background: #fd5d77 ;
            border-width: 0;
            height: 15px;
            margin: 15px 0;
            width: 105px;
            z-index: 5555;
            /* margin-bottom: 30%; */
            color: #fd5d77;
            background-color: #fd5d77;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .head-wrapper .head-container .menu-head .menu-title-wrapper .menu-flex .menu-line {
    width: 70px;
  }
}
