<!DOCTYPE html>

  {{ aek.set_aek_version("2.0") }}
  {{ aek.set_header_text('') }}


      {% set language = {
  "index": {
    "pageName":"My Publications",
    "orcidText":"My ORCID ID ",
    "noOrcidText":"NOT SPECIFIED",
    "notificationsText":"My NURO actions",
    "publicationsText":"10 most recent publications",
    "infoHoverText":"The 10 most recent publications as listed in NURO",
    "loginText":"NURO"
  },
  "publications": {
    "pageName":"Recent publications",
    "buttonText": "Claim missing publications"
  },
  "notifications": {
    "pageName": "My NURO actions"
  }
} %}
      {% set theme = {
  "primary":"prime",
  "secondary":"alt"
} %}
      {% set currency_prefix = "£" %}
  
  {% if aek.action == "get-orcid" %}
  {% set service = aek.get_service("MULE_CONNECT") %}
  {{ service.set_parameter("callType", "ORCID") }}
  {{ service.set_parameter("callTarget", "staff") }}
  {% set response = service.response %}
  {% set json = response.json %}
  {% if not json %}
    {% set error = response.desc|default("Unknown Error") ~ "" %}
    {{ aek.respond({"error":error},500) }}
  {% endif %}
  {{ aek.respond(json ~ "") }}
{% endif %}

{% if aek.action == "get-publications" %}
  {% set service = aek.get_service("MULE_CONNECT") %}
  {{ service.set_parameter("callType", "PUBLICATIONS") }}
  {{ service.set_parameter("callTarget", "staff") }}
  {% set response = service.response %}
  {% set json = response.json %}
  {% if not json %}
    {% set error = response.desc|default("Unknown Error") ~ "" %}
    {{ aek.respond({"error":error},500) }}
  {% endif %}
  {{ aek.respond(json ~ "") }}
{% endif %}

{% if aek.action == "get-notifications" %}
  {% set service = aek.get_service("MULE_CONNECT") %}
  {{ service.set_parameter("callType", "NOTIFICATIONS") }}
  {{ service.set_parameter("callTarget", "staff") }}
  {% set response = service.response %}
  {% set json = response.json %}
  {% if not json %}
    {% set error = response.desc|default("Unknown Error") ~ "" %}
    {{ aek.respond({"error":error},500) }}
  {% endif %}
  {{ aek.respond(json ~ "") }}
{% endif %}
  {% set _config={
  "PUBLIC": {
    "storageKey": "uon-publications",
    "language": language,
    "theme": theme,
    "currency_prefix": currency_prefix,
    "loginURL": "https://nuro.newcastle.edu.au/default.html",
    "publicationsURL": "https://nuro.newcastle.edu.au/objects.html"
  },
  "PRIVATE": {
    "exampleApiKey": "aaaa-bbbb-cccc-dddd"
  }
} %}


<html lang="en" data-aek-package="[[__package_data__]]" data-public-assets="[[__public_assets__]]" data-env="prod" data-platform="{{ aek.get_platform() }}" >
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <script type="aek/config" id="aek__config">{{ _config["PUBLIC"]|json_encode|raw }}</script>
  </head>

<body  >

  
  <script>

    !function(e){function o(n){if(t[n])return t[n].exports;var s=t[n]={exports:{},id:n,loaded:!1};return e[n].call(s.exports,s,s.exports,o),s.loaded=!0,s.exports}var t={};return o.m=e,o.c=t,o.p="/public/js/",o(0)}([function(e,o,t){"use strict";!function(){window.loadCampusmAssetStore=function(e,o){o||(o="0.0.8");var t,n=function(){e&&e(window.CampusM.assetStore)};try{t=JSON.parse(window.localStorage.__campusmAssetStore)}catch(s){}if(t&&t.version>=o)new Function(t.code)(),n();else{var r=document.createElement("script");r.onload=n,r.onError=function(){t?(console.warn("AssetStore: Unable to fetch minimum version "+t.version+" instead"),new Function(t.code)(),n()):console.error("AssetStore: unable to initialise AssetStore")},r.src="https://portal.ombiel.co.uk/assets/aek/aek-asset-store/"+o+"/loader.js",document.head.appendChild(r)}}}()}]);
    loadCampusmAssetStore(function(assetStore) {

      var sheets = ["main","vertical-segment"];
      sheets = sheets.map(function(s) {return s.match(/^(https?:\/)?\//) && s || "[[__public_assets__]]/css/"+s+".css"});

      var scripts = ["main"];
      scripts = scripts.map(function(s) {return s.match(/^(https?:\/)?\//) && s || "[[__public_assets__]]/js/"+s+".js"});

      assetStore.fetchAssets(scripts);
      assetStore.loadCSS(sheets).then(function() {
        assetStore.loadJS(scripts);
      });

    });

  </script>

</body>
</html>
